<html>
<title>BUS LIST</title>
<head>
	
<link rel="stylesheet" type="text/css" href="../html/main.css">
<link rel="stylesheet" type="text/css" href="../Semantic-UI-1.5.2/dist/semantic.css">
<link rel="styslesheet" type="text/css" href="../stylesheets/BUS_FINAL.css">
<style type="text/css"> 
.busDisplay{
position: absolute;
height: 400px;
width: 200px;
}
.available{
  background-image: url(../stylesheets/icon_seat.png);
  height: 30px;
  width:30px;
  padding:0;
}


.selected{
    background-image: url(../stylesheets/available_seat.png);
  height: 30px;
  width:30px;
  padding:0;
}

.booked{
   background-image: url(../stylesheets/booked_seat.png);
  height: 30px;
  width:30px;
  padding:0;

}

li{
    position: absolute;
    display: inline;
  }

#dialogue{
    background-color: D0D0E1;}
    </style>
<script type="text/javascript" src="../JS/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../jquery-ui-1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="../JS/buslist.js"></script>
<script type="text/javascript" src="../JS/pageFunction.js"></script>
<script>

function goBack(){
    $(".passengerDetails").hide();
$(".displayList").show();
}
/*var url="/location/seatLayout/confirmBooking?";
 if(selectedSeat.length>0){
  for(var i=0;i<selectedSeat.length;i++)
    {if(i==0)var q= "result"+i+"="+selectedSeat[i];
    else var q= "&result"+i+"="+selectedSeat[i];
url=url+q;
  }}*/
</script>

</head>


<body>
<h1>BUSHUB</h1>
<p1>MILLION BUSES , BILLION ROUTES</p1>

<h2> </h2>
<p2>
<div class="ui menu inverted">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>
</div>
</p2>
<div class="displayList" title="BUS SEATS">
<h3><b>Buses Available from <%= source %> to <%= destination %> -</b> </h3>
	<p3><br>

<% if (array.length>0) { %>
 <table style="width:50%">
 	<tr>
 	<th>NAME</th>
 	<th>PRICE</th>
    </tr>
    <% array.forEach(function(n){ %>
      <tr>
      <td><%= JSON.stringify(n.x.data['name']) %> </td>
      <td> <%= JSON.stringify(n.x.data['price']) %></td>
      <td> <button id="view_seat" onclick="viewseat('<%= source %>','<%= destination %>',<%= JSON.stringify(n.x.data['name']) %>)">View Seat</button></td>
      </tr>
    <% }) %>
  </table>
<% } %>
</p3>
<div id="dialogue"  style="display:none">
<div id="busgrid" class="busDisplay"> choose a seat</div>
<div style="float:right">
  <button>procees</button>
  </div></div>
</div>


<div class="passengerDetails" style="display:none">


  <input type="hidden" name="source" value=<%= source %>>
  <input type="hidden" name="destination" value=<%= destination %>>
  <input type="hidden" name="bus" value=bus>
  Name<input type="text" name="name"><br>
  Contact   <input type="text" name="contact"><br>
  <button id="submit">confirm booking</button>
  <input type="submit" value="confirm booking">

<button onclick="goBack()"> Go Back </button>
</div>


</body>
</html>